.app {
    background-color: #d4abeb !important;

    .app-content {
        margin-left: 2%;
    }
}

.custom-input,
.custom-input:hover,
.custom-input:focus {
    border-color: #d4abeb !important;
}

.custom-select,
.custom-select:hover,
.custom-select:focus {
    border-color: #d4abeb !important;
}